/* MODAL ESPECIFY */
.mf-bike-route--bike-routes--page .modal-wrapper .modal-container a {
  text-decoration: underline !important;
}
.mf-bike-route--bike-routes--page .modal-wrapper .modal-container a:hover {
  font-weight: 700;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .bike-routes-detail-gallery {
  padding-bottom: 0.5rem;
  margin: 0 -2rem;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .bike-routes-detail-gallery img {
  max-height: 200px;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .bike-routes-detail-gallery .picture-wrapper .picture-title {
    position: absolute;
    bottom: -10px;
    background: #1e1e1e91;
    color: white;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .bike-routes-detail-content {
  overflow-y: auto;
  position: relative;
  max-height: calc(80vh - 70px);
  margin: 1rem -2rem;
  padding: 0 2rem;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .modal-container-header-infos {
  display: flex;
  justify-content: space-between;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .modal-container-header-infos a {
  text-decoration: none;
  color: black;
}