.card-horizontal-list-wrapper {
  --bg-red-street: #ba2020;
  --bg-red-street-line: #f8b43a;
  position: relative;
  background-color: var(--bg-red-street);

  padding: 1rem 0;
  border-top: 1px solid var(--bg-red-street-line);
  border-bottom: 1px solid var(--bg-red-street-line);
  overflow-x: hidden;
}

.card-horizontal-list-wrapper .card-horizontal-list-line {
  position: absolute;
  width: 100%;
  top: 50%;

  height: 4px;
  background-image:
    linear-gradient(90deg, transparent, transparent 70%, var(--bg-red-street) 70%, var(--bg-red-street) 100%),
    linear-gradient(90deg, var(--bg-red-street-line), var(--bg-red-street-line));
  background-size: 20px 3px, 100% 3px;
  border: none;
}

.card-horizontal-list-wrapper .action-btn {
  color: rgba(0, 0, 0, 0.598);
  background-color: #ffffff36;
  display: flex;
  position: absolute;
  top: 5px;
  height: calc(100% - 30px);
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.card-horizontal-list-wrapper .back-btn {
  left: 0px;
  transition: 0.3s;
}

.card-horizontal-list-wrapper .next-btn {
  right: 0px;
  transition: 0.3s;
}

.card-horizontal-list-wrapper .action-btn:hover {
  color: black;
  font-weight: 700;
  background-color: #ffffff90;
}

.card-horizontal-list-wrapper .back-btn:hover {
  padding-right: 15px;
  border-radius: 0 5px 5px 0;
}

.card-horizontal-list-wrapper .next-btn:hover {
  padding-left: 15px;
  border-radius: 5px 0 0 5px;
}

.card-horizontal-section-title-container h3,
.card-horizontal-section-title-container p {
  color: white;
}