body.open-modal {
  overflow: hidden;
}

.mf-bike-route--bike-routes--page .modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container {
  padding: 2rem;
  background-color: white;
  border: 1px solid black;
  max-width: 500px;
  width: 60vw;
  margin: 48px 0;
  max-height: 80vh;
  position: relative;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .modal-close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    border: solid 1px black;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.mf-bike-route--bike-routes--page .modal-wrapper .modal-container .modal-close-btn:hover {
  color: white;
  background-color: black;
  font-weight: 700;
}