.mf-bike-route--bike-routes--page .cards-container .card-item {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  padding-bottom: 0;
  width: 250px;
  max-width: 100%;
  position: relative;
  cursor: pointer;
}

.mf-bike-route--bike-routes--page .cards-container .card-item h4.card-title {
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mf-bike-route--bike-routes--page .cards-container .card-item .card-tag {
    position: absolute;
    top: -12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background: white;
}

.mf-bike-route--bike-routes--page .cards-container .card-item .card-tag.card-tag-difficulty {
  left: -3px;
}

.mf-bike-route--bike-routes--page .cards-container .card-item .card-tag.card-tag-distance {
  /* right: -3px; */
  top: auto;
  bottom: .25rem;
  left: .25rem;
  z-index: 1;
}

.mf-bike-route--bike-routes--page .cards-container .card-item a {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 24px;
  right: .25rem;
  bottom: .25rem;
  padding: .25rem;
  font-size: 0.75rem;
  text-decoration: none;
  color: black;
}

.mf-bike-route--bike-routes--page .cards-container .card-item .card-image-container {
  height: 200px;
  overflow: hidden;
  margin: 0 -1rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}