.carousel-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.carousel-wrapper .action-btn {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  top: calc(50% - 24px);
  z-index: 1;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  background-color: white;
}

.carousel-wrapper .action-btn:hover {
  opacity: 1;
  filter: drop-shadow(2px 4px 6px black);
}

.carousel-wrapper .action-btn.next-action-btn {
  right: -2rem;
}
.carousel-wrapper .action-btn.back-action-btn {
  left: -2rem;
}

.carousel-container {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  position: relative;
}

.carousel-container .picture-wrapper {
  flex-shrink: 0;
  scroll-snap-align: center;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.carousel-container .picture-wrapper img {
  max-width: 100%;
}
