.mf-bike-route--bike-routes--page {
  font-size: .8rem;

  background-color: #35373a;
  padding: 1rem 0;
}

.mf-bike-route--bike-routes--page .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mf-bike-route--bike-routes--page .cards-container .cards-horizontal-section {
  width: 100%;
}

.mf-bike-route--bike-routes--page .cards-container .cards-horizontal-section .cards-horizontal-list-container {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  position: relative;
  gap: 1rem;
}

.mf-bike-route--bike-routes--page .cards-container .cards-horizontal-section .cards-horizontal-list-container .card-item {
  flex: 200px 0 0;
  flex-shrink: 0;
  scroll-snap-align: start;
}