/* CUSTOM SCROLL */
.custom-scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

.custom-scroll-light::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.091);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(173, 205, 173); 
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 150, 127); 
  border-radius: 5px;
}